<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-animate.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-aria.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-messages.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.js"></script>
    <script type="text/javascript" src="./javascripts/main.js"></script>
    <title>Movies</title>
    <style rel="stylesheet" type="text/css">
        *{
            transition: all .5s ease;
        }
    </style>
</head>
<body ng-app="moviesApp" ng-cloak>
    <div ng-controller="mainCtrl as mc">
        <!--
        <div layout="row" layout-wrap>
            <div ng-repeat="dat in mc.data">
                <md-card style="background-color: #eeeeee">
                    <div layout="column" layout-lg="row" layout-wrap>
                        <md-card layout="column" layout-padding layout-align="center center">
                            <md-card-content>
                                <img style="display: block" class="img-responsive" ng-src="{{dat.poster_path == null? mc.noPoster:mc.base_url+dat.poster_path}}">
                            </md-card-content>
                        </md-card>
                        <md-card layout="column" layout-wrap layout-align="center none" layout-padding flex>
                            <p flex>{{dat.title}}</p>
                            <p flex>{{dat.overview}}</p>
                        </md-card>
                    </div>
                </md-card>
            </div>
        </div>
        -->

        <div layout-wrap layout="row" layout-align="stretch center"  style="background-color: #baf7ff">
            <div flex-lg="50" flex-md="25" flex-sm="50" flex-xs="100" ng-repeat="dat in mc.data">
                <md-card style="background-color: #9acfea">
                    <md-card-content layout-lg="row" layout-align="stretch center">
                        <md-card layout-align="center center">
                            <img style="display: block" class="img-responsive" ng-src="{{dat.poster_path == null? mc.noPoster:mc.base_url+dat.poster_path}}">
                        </md-card>
                        <md-card style="background-color: #5bc0de" flex>
                            <md-card-content>
                                <h3>Title : <b>{{dat.title}}</b></h3>
                                <h3>Rating : {{dat.vote_average}}</h3>
                            </md-card-content>
                        </md-card>
                    </md-card-content>
                </md-card>
            </div>
        </div>

    </div>
</body>
</html>
